:root{
	--primaryColor:#1cefff;
	--secondaryColor:#1795c7;

	--borderColor:#161914;

	--primaryText:#fff;
	--secondaryText:#eeeeee;

	--themeDotborder:#FFF;

	--previewBg:rgba(56, 233, 224, 0.8);
	--previewShadow:#28d6cd;


	--buttonColor:#2f66db;


}